<div class="page-wrapper p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Update User</h2>
            </div>
            <div class="card-body">
                <form (ngSubmit)="OnSubmit(f)" #f="ngForm">
                    <div class="form-row m-b-55">
                        <div class="name">Name</div>
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" 
                                        id="firstName"
                                        type="text" 
                                        name="firstName"
                                        ngModel>
                                        <label class="label--desc">first name</label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" 
                                        id="lastName"
                                        type="text" 
                                        name="lastName"
                                        ngModel>
                                        <label class="label--desc">last name</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Email</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" 
                                id="emailId"
                                type="email" 
                                name="emailId"
                                ngModel>
                                <label class="label--desc">Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Phone</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5"
                                id="phoneNo" 
                                type="text" 
                                name="phoneNo"
                                ngModel>
                                <label class="label--desc">Phone Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Role</div>
                        <div class="value">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="role" class="custom-select" ngModel>
                                        <option selected="selected">Choose option</option>
                                        <option value="development">Developer</option>
                                        <option value="tester">Tester</option>
                                        <option value="lead">Lead</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="label label--block">Gender</label>
                        <div class="p-t-15">
                            <label class="radio-container m-r-55">Male
                                <input type="radio" value="male" name="gender" ngModel>
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container">Female
                                <input type="radio" name="gender" value="female" ngModel>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn--radius-2 btn--red"
                         type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>